@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
    box-sizing: border-box;
  }

body, html{
    padding: 0;
    margin: 0;
    background-color: #222831;
    font-family: 'Poppins', 'Roboto';
    text-align: center;


}

.grid-container{
    font-family: 'Poppins';
    display: grid;
    grid-template-areas:
    "nav"
    "section"
    "main"
    "footer";
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;


    margin: 0;
    padding: 0;
}

@media screen and (min-width: 576px){
    .grid-container{
        display: grid;
        grid-template-areas:
        "nav section"
        "nav main"
        "footer main";
        grid-template-columns: 11.6875rem 1fr;
        grid-template-rows: 1fr;
    }  

    main .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .75rem;
        margin: 1rem;
        text-align: center; 
        width: 100%;
        height: 100%;
    }
    
    main .card{
    margin: 0;
    }


    .burger{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;

    }

    .navi{
        padding-top: 2rem;
    }
    .navi ul{
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .navi ul li{
        padding: .5rem;
    }

    .navi ul li:hover{
        color: #EEEEEE;
        cursor: pointer;
    }

    .navi hr{
        color: #00939a;
        width: 85px;
    }

}


nav{
    grid-area: nav;
    background-color: #00ADB5;
    color: #222831;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1rem;
}

.imgnav{
    display: flex;
    align-items: center;
    padding-top: .75rem;
}

.imgnav p{
    padding-left: .5rem;
}

@media screen and (max-width: 575px) {
    .navi{
        display: none ;
    }

nav{
    display: flex;
    justify-content: space-between;   
}
    
}


section{
    grid-area: section;
    background-color: #393E46;
    color: #EEEEEE;
    padding: 0 2rem;
}

.filtros {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1.5rem;
    }

.filtros p{
        padding-bottom: .5rem;
    }

select{
    text-align: center;
}

main{
    grid-area: main;
    color: #EEEEEE;
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    width: 100%;

}

h3{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: .5rem;
}



.card{
    border: 1px solid #00ADB5;
    border-radius: 5px;
    margin: 2rem 3rem 2rem 3rem;
    padding: 2rem;

}

.card h3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.card p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn{
    display: flex;
    background-color: #00ADB5;
    border-radius: .625rem;
    text-decoration: none;
    justify-content: center;
    padding: .5rem;
    color: #EEEEEE;
}

.btn:hover{
    background-color: #393E46;
    color: #00ccd6;

}


@media screen and (max-width: 575px) {
    .card-pc{
        display: none ;
    }


}


.character{
    margin-bottom: .5rem;
    height: 300px;
    width: 247px;
}

.fivestar{
    background-image: url('../imgs/5_sm.png');
    background-size: contain;
}

.fourstar{
    background-image: url('../imgs/4_sm.png');
    background-size: contain;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
  }
  
.pagination a {
    color: #EEEEEE;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #00ADB5;
  }
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

footer{
    grid-area: footer;
    color: #222831;
    padding: 2rem 1rem 1rem 1rem;
    margin: 0;
    background-color: #00939a;
}

footer i{
    padding-left: .5rem;
}

footer a{
    color: #222831;
}

footer a:hover{
    color: #EEEEEE;
    cursor: pointer;
}